@import url("http://fonts.cdnfonts.com/css/dejavu-sans-mono");
* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "DejaVu Sans Mono", sans-serif;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}
.show {
  -webkit-animation: up-down linear 300ms;
          animation: up-down linear 300ms;
  opacity: 1 !important;
}

.hidden {
  display: none;
}

.rice-bg {
  font-size: 100%;
  background-color: rgba(100, 47, 83, 0.5) !important;
  overflow-y: scroll;
}

.scale {
  transition: all ease-out 300ms;
  scale: 75%;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 0.2rem 1rem;
  background-color: #1a161c;
  color: #fff;
  cursor: default;
}
.nav .nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  transition: all ease-in-out 150ms;
}
.nav .nav-list #date {
  word-spacing: -7px;
  margin-right: 0.75rem;
}
.nav .nav-list .wifi {
  stroke: #fff;
}
.nav .nav-list:nth-child(2) *, .nav .nav-list:nth-child(3) * {
  padding: 0 0.1rem;
}
.nav .nav-list:hover {
  border-radius: 20px;
  background-color: #352c39;
}

.desktop {
  flex: 1;
  position: relative;
  z-index: 1;
}
.desktop .window {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.desktop .window__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  height: 2rem;
  background-color: #27212a;
  font-size: 1.3rem;
  position: relative;
  z-index: 2;
}
.desktop .window__title h1 {
  font-size: 1.25rem;
  color: #fff;
}
.desktop .window__title :last-child {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.desktop .window__title :last-child div {
  margin: 0 0.25rem;
  border-radius: 100%;
  background-color: #352c39;
}
.desktop .window__title :last-child div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.desktop .window__title :last-child div button {
  padding: 0.75rem;
  margin: 0 5px;
  border: none;
  outline: none;
  background: none;
}
.desktop .window__title :last-child div button#minimise {
  margin-top: 5px;
  background: url("../../assets/svg/buttons/minus.svg") no-repeat center;
}
.desktop .window__title :last-child div button#maximise {
  background: url("../../assets/svg/buttons/maximize.svg") no-repeat center;
}
.desktop .window__title :last-child div button#close {
  background: url("../../assets/svg/buttons/x.svg") no-repeat center;
}
.desktop .window__title :last-child div button#minimise:hover, .desktop .window__title :last-child div button#maximise:hover, .desktop .window__title :last-child div button#close:hover {
  cursor: default;
}
.desktop .window__body {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: relative;
}
.desktop .window__body .system-data {
  display: flex;
  gap: 2rem;
  color: white;
}
.desktop .window__body .system-data__input-line {
  display: flex;
  align-items: center;
  gap: 0;
}
.desktop .window__body .system-data__input-line--command {
  color: #fff;
}
.desktop .window__body .system-data__input-line--command::first-letter {
  color: #26a269;
}
.desktop .window__body .system-data__input-line--terminal-input {
  background: transparent;
  border: none;
  color: #fff;
}
.desktop .window__body .system-data__input-line input {
  outline: none;
  flex-grow: 1;
  margin-left: 1rem;
}
.desktop .window__body .system-data--ascii {
  color: #1793d1;
}
.desktop .window__body .system-data__info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.desktop .window__body .system-data__info--item {
  display: flex;
  gap: 0;
  flex-direction: row;
}
.desktop .window__body .system-data__info--item .info-title {
  color: #1793d1;
}
.desktop .window__body #editor {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
}
.desktop .window__body iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.desktop__menu {
  background-color: rgba(26, 22, 28, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
}
.desktop__menu-grid {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}
.desktop__menu-grid--item .icon img {
  display: block;
  width: auto;
  height: 80%;
}

.footer {
  opacity: 0;
  min-height: 70px;
  display: flex;
  justify-content: center;
  transition: all 200ms;
  position: relative;
  z-index: 10;
}
.footer .dock {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  border: 1px solid rgb(127, 127, 127);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.footer .dock .icon {
  transition: all ease-in-out 200ms;
  border-radius: 15px;
}
.footer .dock .icon--firefox:hover::after {
  position: absolute;
  top: -20px;
  border: 1px solid rgb(127, 127, 127);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 0.75rem;
  content: "Firefox";
}
.footer .dock .icon--vs-code {
  width: 30%;
}
.footer .dock .icon--vs-code:hover::after {
  position: absolute;
  top: -20px;
  border: 1px solid rgb(127, 127, 127);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 0.75rem;
  content: "Visual Studio Code";
}
.footer .dock .icon--vs-code:hover::after {
  left: 40%;
  transform: translateX(-50%);
  width: 60%;
  text-align: center;
}
.footer .dock .icon--applications {
  width: 30%;
}
.footer .dock .icon--applications:hover::after {
  position: absolute;
  top: -20px;
  border: 1px solid rgb(127, 127, 127);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 0.75rem;
  content: "Applications";
}
.footer .dock .icon--applications:hover::after {
  right: 10%;
  transform: translateX(30%);
  width: 40%;
  text-align: center;
}
.footer .dock .icon--terminal {
  width: 30%;
}
.footer .dock .icon--terminal:hover::after {
  position: absolute;
  top: -20px;
  border: 1px solid rgb(127, 127, 127);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 0.75rem;
  content: "Terminal";
}
.footer .dock .icon img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer .dock .icon:hover {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.1);
}

.resizable {
  position: relative;
}

.resizer {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
}