@import url("http://fonts.cdnfonts.com/css/dejavu-sans-mono");
* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "DejaVu Sans Mono", sans-serif;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}
.show {
  -webkit-animation: up-down linear 300ms;
          animation: up-down linear 300ms;
  opacity: 1 !important;
}

.hidden {
  display: none;
}

.rice-bg {
  font-size: 100%;
  background-color: rgba(100, 47, 83, 0.5) !important;
  overflow-y: scroll;
}

.command {
  color: #fff;
}
.command::first-letter {
  color: #26a269;
}

.ascii {
  color: #1793d1;
}

.terminal-input {
  background: transparent;
  border: none;
  color: #fff;
}

.input-line {
  display: flex;
  align-items: center;
}
.input-line input {
  margin-left: 1rem;
  outline: none;
  flex-grow: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 0.2rem 1rem;
  background-color: #1a161c;
  color: #fff;
}
.nav .nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  transition: all ease-in-out 150ms;
}
.nav .nav-list #date {
  word-spacing: -7px;
  margin-right: 0.75rem;
}
.nav .nav-list .wifi {
  stroke: #fff;
}
.nav .nav-list:nth-child(2) *, .nav .nav-list:nth-child(3) * {
  padding: 0 0.1rem;
}
.nav .nav-list:hover {
  border-radius: 20px;
  background-color: #352c39;
}

.desktop {
  flex: 1;
  position: relative;
  z-index: 1;
}
.desktop .window {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.desktop .window__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  height: 2rem;
  background-color: #27212a;
  font-size: 1.3rem;
  position: relative;
  z-index: 2;
}
.desktop .window__title h1 {
  font-size: 1.25rem;
  color: #fff;
}
.desktop .window__title :last-child {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.desktop .window__title :last-child div {
  margin: 0 0.25rem;
  border-radius: 100%;
  background-color: #352c39;
}
.desktop .window__title :last-child div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.desktop .window__title :last-child div button {
  padding: 0.75rem;
  margin: 0 5px;
  border: none;
  outline: none;
  background: none;
}
.desktop .window__title :last-child div button#minimise {
  margin-top: 5px;
  background: url("/assets/svg/buttons/minus.svg") no-repeat center;
}
.desktop .window__title :last-child div button#maximise {
  background: url("/assets/svg/buttons/maximize.svg") no-repeat center;
}
.desktop .window__title :last-child div button#close {
  background: url("/assets/svg/buttons/x.svg") no-repeat center;
}
.desktop .window__title :last-child div button#minimise:hover, .desktop .window__title :last-child div button#maximise:hover, .desktop .window__title :last-child div button#close:hover {
  cursor: default;
}
.desktop .window__body {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: relative;
}
.desktop .window__body #editor {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
}
.desktop .window__body iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.footer {
  opacity: 0;
  min-height: 70px;
  display: flex;
  justify-content: center;
  transition: all 200ms;
  position: relative;
  z-index: 10;
}
.footer .dock {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  border: 1px solid rgb(127, 127, 127);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.footer .dock .icon {
  transition: all ease-in-out 200ms;
  border-radius: 15px;
}
.footer .dock .icon--vs-code {
  width: 20%;
}
.footer .dock .icon img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer .dock .icon:hover {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.1);
}

.resizable {
  position: relative;
}

.resizer {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
}