@use "./partials/global" as *;
@use "./partials/util" as *;
@use "./partials/variables" as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 1rem;
  background-color: $background-primary;
  color: #fff;

  .nav-list {
    list-style-type: none;
    display: flex;

    .wifi {
      stroke: #fff;
    }

    &:nth-child(2),
    &:nth-child(3) {
      * {
        padding: 0 0.1rem;
      }
    }
  }
}

.display {
  flex: 1;
}

.footer {
  opacity: 0;
  min-height: 70px;
  display: flex;
  justify-content: center;
  transition: all 200ms;

  .dock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
